/*https://colorhunt.co/palette/124846*/
body {
    margin: 0;
    padding: 0;
}

h1 {
    color: greenyellow;
    font-size: 300%;
}

#nav-bar {
    display: flex;
    width: 100%;
    background-color: #393e46;
    align-items: center;
    top: 0;
    left: 0;
}

#nav-row {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.nav-link {
    list-style: none;
    padding-right: 25px;
}

.nav-link a {
    color: #f7f7f7;
    text-decoration: none;
    transition: 0.6s;
}

.nav-link a:hover {
    color: #f8b500;
}