/******************************************************************************   General   **/

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f7f7f7;
}

#nav-bar { 
    display: flex;
    position: fixed;
    width: 100%;
    background-color: #393e46;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 1;
}

#nav-row {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    list-style: none;
}

.nav-link-img {
    list-style: none;
    padding-right: 25px;
    text-decoration: none;
}

.nav-link {
    list-style: none;
    color: #f7f7f7;
    text-decoration: none;
    transition: 0.6s;
    padding-right: 25px;
}

.nav-link:hover {
    color: #f8b500;
}

#header-img {
    height: 30px;
    width: auto;    
}


/******************************************************************************   Landing Page   **/

#header {
    height: 100vh;
    background-image: repeating-linear-gradient( 35deg, rgba(0,0,0,0) 0%,
                                                        rgba(0,0,0,0) 50%,
                                                        rgba(0,0,0,0.5) 51%,
                                                        rgba(0,0,0,0.5) 100%), 
                                                        url(https://s20.postimg.cc/6p9t6sma5/patrick-lindenberg-191841-unsplash.jpg);
    background-size: cover;
    overflow: hidden;
    background-attachment: fixed;
    color: #000;
}

.offsetText {
    position: absolute;
    width: 40%;
    height: 50%;
    top: 0;
    right: 0;
    display: flex;
    font-size: 5.25vh;
    flex-direction: column;
    justify-content: flex-end;
    color: #f8b500;
}

.offsetText h1 {
    padding: 0;
    height: 0;
}

.offsetText p {
    padding-top: 15px;
    font-size: 3.5vh;
}

/******************************************************************************   Testimonials   **/

#testimonials {
    display: flex;
    flex-direction: column;
    color: #f9b700;
    background-color: white;
    padding: 25px;
    width: 904px;
    margin: 25px auto;
    box-shadow: 1px 1px 0px silver;
}

#testimonials h2 {
    text-align: center;
}

#video {
    width: 800px;
    height: 447px;
    margin: auto;
}

/******************************************************************************   Product Info   **/

#productInfo {
    height: 110vh;
    background: linear-gradient(-135deg,#f7f7f7 0%,
                                        #f7f7f7 50%,
                                        #5C636E 75%,
                                        #5C636E 100% );
                                    }
                                    
.grid-box {
    width: 725px;
    display: grid;
    grid-template-columns: 225px 225px 225px;
    grid-column-gap: 25px;
    grid-template-rows: 225px 225px 225px;
    grid-row-gap: 0;
    margin: 50px auto;
    padding-top: 75px;
}

.card {
    width: 200px;
    margin: auto;
    background-color: #f9b700;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 1%;
    box-shadow: 2px 1px #a07500;
}

.btn {
    width: 100px;
    margin: 16px auto;
    padding: 4px;
    transition: 0.6s;
}

.btn:hover {
    background-color: #ffcb3b;
}

.textDec {
    text-decoration: none;
    color: #000;
}

.row-one {
    grid-row: 1/2;
}

.row-two {
    grid-row: 2/3;
}

.row-three {
    grid-row: 3/4;
}

.col-one {
    grid-column: 1/2;
}

.col-two {
    grid-column: 2/3;
}

.col-three {
    grid-column: 3/4;
}

/******************************************************************************   Sign Up   **/

#footer {
    background-image: linear-gradient(45deg, rgb(247, 247, 247, 0.3) 0%,
    rgb(247, 247, 247, 0.3) 50%,
    rgb(92, 99, 110, 0.3) 75%,
    rgb(92, 99, 110, 0.3) 100% ),
    linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0,0,0, 0.5) 55%, rgba(0,0,0, 1) 100%);
    background-size: cover;
}


#form {
    display: flex;
    flex-direction: column;
    width: 20vw;
    margin: auto;
}

h3 {
    text-align: center;
    width: 15vw;
    margin: 40px auto 0 auto;
}

label {
    text-align: left;
    margin-top: 20px;
}

#submit {
    width: 10vw;
    margin: 40px auto;
    transition: 0.6s;
}

#submit:hover {
    background-color: #f8b500;
}


/******************************************************************************   Footer   **/

footer {
    display: flex;
    flex-direction: row;
    width: 30vw;
    margin: 50px auto 0 auto;
    align-items: space-between;
}

.footerLinks {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 10vw;
}

.footerLinks a {
    text-decoration: none;
    transition: 0.6s;
    color: #f7f7f7;
}

.footerLinks a:hover {
    color: #f8b500;
}

/******************************************************************************   Media Queries   **/

@media (max-width: 1000px) and (min-width: 801px){
    
    .offsetText {
        width: 50%;
        height: 45%;
    }
    
    #testimonials {
        width: 704px;
        margin: 50px auto;
    }

    #video {
        width: 600px;
        height: 335px;
    }

    #form {
        width: 40vw;
    }
    
    h3 {
        width: 30vw;
    }
    
    #submit {
        width: 20vw;
    }

    footer {
        width: 48vw;
    }
    
    .footerLinks {
        width: 16vw;
    }
}

@media (max-width: 800px) and (min-width: 501px){
    
    .offsetText {
        width: 60%;
        height: 45%;
        font-size: 4.75vh;
    }

    .offsetText p {
        padding-top: 10px;
        font-size: 3vh;
    }
        
    #testimonials {
        padding: 25px;
        width: 354px;
        margin: 25px auto;
    }

    #video {
        width: 300px;
        height: 168px;
    }

    .grid-box {
        width: 225px;
        margin: auto;
        grid-template-columns: 225px;
        grid-template-rows: 225px 225px 225px;
    }

    .row-one {
        grid-row: 1/2;
    }
    
    .row-two {
        grid-row: 2/3;
    }
    
    .row-three {
        grid-row: 3/4;
    }

    .col-one {
        grid-column: auto;
    }

    .col-two {
        grid-column: auto;
    }

    .col-three {
        grid-column: auto;
    }

    #form {
        width: 60vw;
    }
    
    h3 {
        width: 50vw;
    }
    
    #submit {
        width: 30vw;
    }

    footer {
        width: 60vw;
    }
    
    .footerLinks {
        width: 20vw;
        padding: 0;
    }

}

@media (max-width: 500px){
    
    .offsetText {
        width: 100%;
        height: 35%;
        top: 100px;
        font-size: 4.75vh;
        text-align: center;
    }
    .offsetText p {
        padding-top: 10px;
        font-size: 3vh;
    }

    #testimonials {
        display: flex;
        flex-direction: column;
        color: #f9b700;
        padding: 0;
        border: none;
        width: 260px;
        margin: auto;
        box-shadow: none;
    }

    #testimonials h2 {
        text-align: center;
    }

    #video {
        width: 250px;
        height: 139px;
        margin: auto;
    }

    .grid-box {
        width: 225px;
        margin: auto;
        grid-template-columns: 225px;
        grid-template-rows: 225px 225px 225px;
    }

    .row-one {
        grid-row: 1/2;
    }
    
    .row-two {
        grid-row: 2/3;
    }
    
    .row-three {
        grid-row: 3/4;
    }

    .col-one {
        grid-column: auto;
    }

    .col-two {
        grid-column: auto;
    }

    .col-three {
        grid-column: auto;
    }

    #form {
        width: 80vw;
    }
    
    h3 {
        width: 80vw;
    }
    
    #submit {
        width: 30vw;
    }

    footer {
        width: 78vw;
    }
    
    .footerLinks {
        width: 26vw;
        padding: 0;
    }
}

@media (max-width: 350px){
    .offsetText {
        font-size: 8.75vw;
    }
    .offsetText p {
        font-size: 5vw;
    }
}